
#game {
  position: relative;

  .box {
    position: absolute;
    width: 19px;
    height: 19px;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    background-color: white;
    border: 1px dotted gray;
    border-radius: 12px;
  }
  .snake {
    /* */
  }
  #target {
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    display: none;
    border: none;
    padding: 0;
    margin: 0;
    z-index: 5000;
    border-radius: 15px;
  }
}
